<h1>Western Cape Registration Numbers</h1>
      <input type="text" class="reg_input" id="reg_inputHB" placeholder="eg. CA 797 920" />
      <span class="confirmation" id="confirmationHB">Enter a registration number.</span>
      <input class="add_btn" id="add_btnHB" type="button" value="Add" />
      <input class="reset_btn" id="reset_btnHB" type="button" value="Reset" />
      <input class="clear_filter_btn" id="clear_filter_btnHB" type="button" value="Clear filter" />
      <div class="filter" id="filterHB">
          Filter by town:
          <select class="town" id="townHB">
              <option value="">Choose a town</option>
              {{#each town}}
              <option value={{@key}}>{{this}}</option>
              {{/each}}
          </select>
      </div>
      <ul class="reg_display_list" id="reg_display_listHB">
          {{#each regNum}}
              <li>{{this}}</li>
          {{/each}}
      </ul>