  <h2 class="oops">Oops!</h2>
  <h4 class="invalid">{{input}} is not a valid registration number.</h4>
  <p class="beValid">All Western Cape registration numbers must start with a valid prefix follwed by six digits.</p>